<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/login">Logout</a>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<div class="form-group">
				<label for="userName" class="text-capitalize">user name</label>
				<input disabled type="text" name="userName" value="{{currentUser.username}}">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
					<button class="btn btn-primary text-capitalize" ng-click="onAddUser();">add</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table ng-table="vm.tableParams" class="table" show-filter="false">
						<tr ng-repeat="user in $data">
							<td title="'username'" >{{user.username}}</td>
							<td title="'setting'" >{{user.setting}}</td>
							<td title="'role'" >{{user.role}}</td>
							<td title="'edit'">
								<button class="btn btn-primary text-capitalize" ng-click="onEditUser(user.id);">edit</button>
								<button class="btn btn-primary text-capitalize" ng-click="onDeleteUser(user.id);">delete</button>
								<button class="btn btn-primary text-capitalize" ng-click="onDeleteUser(user.id);">view</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>