<nav class="navbar navbar-default">
	<div class="container col-md-4">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/login">Logout</a>
		</div>
	</div>
	<div class="col-md-4" id="alerts-container"></div>
</nav>
<div class="container-fluid">
	<form name="form">
		<div class="row">
			<div class="col-md-5">
				<div class="form-group row">
					<label for="userName" class="text-capitalize text-right col-md-4 control-label">user name</label>
					<div class="col-md-4">
						<input disabled type="text" name="userName" class="form-control" value="{{vm.currentUser.username}}">
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary text-capitalize" ng-click="showModal({cmd: 'create'});">add</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<table ng-table="vm.tableParams" class="table" show-filter="false">
							<colgroup>
								<col width="30%" />
								<col width="20%" />
								<col width="20%" />
								<col width="30%" />
							</colgroup>
							<tr ng-repeat="user in $data">
								<td title="'username'" filter="{ username: 'text'}" sortable="'username'">{{user.username}}</td>
								<td title="'setting'" filter="{ setting: 'number'}" sortable="'setting'">{{user.setting==null ? '-' : user.setting}}</td>
								<td title="'role'" filter="{ role: 'text'}" sortable="'role'">{{getUserLabel(user)}}</td>
								<td title="'edit'">
									<button class="btn btn-primary text-capitalize" ng-click="showModal({cmd:'edit', user:user});"><i class="fa fa-edit fa-lg m-t-2"></i>edit</button>
									<button class="btn btn-primary text-capitalize" ng-click="showModal({cmd:'delete', user:user});">delete</button>
									<button ng-if="isRegularUser(user);" class="btn btn-primary text-capitalize" ng-click="onView(user);">view</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>