<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title ng-binding" ng-bind-html="title">Title</h4>
			</div>
			<div class="modal-body">
				<form name="datepickerForm" class="form-inline" role="form">
					<div class="row" ng-class="{'has-error': datepickerForm.date.$invalid}">
						<label class="control-label col-md-8 text-right" ng-bind-html="content">Are you sure you want to delete this calories?</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default text-uppercase" ng-click="$hide()">Cancel</button>
				<button type="button" class="btn btn-danger text-uppercase" ng-click="onDeleteUser(vm.selected_user);$hide();">Submit</button>
			</div>
		</div>
	</div>
</div>