<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title ng-binding" ng-bind-html="title">Title</h4>
			</div>
			<div class="modal-body">
				<form name="form" class="form-inline" role="form">
					<div class="row" ng-class="{ 'has-error': (form.date.$dirty && form.date.$error.required) || (form.date.$dirty && form.date.$invalid)}">
            <label for="date" class="control-label col-md-3 text-right text-capitalize">date</label>
            <input type="text" name="date" class="form-control" ng-model="vm.edit_calories.date" data-date-format="yyyy-MM-dd" bs-datepicker required />
            <span ng-if="form.date.$dirty && form.date.$error.required" class="help-block col-md-offset-3">Date is required</span>
            <span ng-if="form.date.$dirty && form.date.$invalid" class="help-block col-md-offset-3">Invalid type!</span>
          </div>
					<div class="row" ng-class="{ 'has-error': (form.time.$dirty && form.time.$error.required) || (form.time.$dirty && form.time.$invalid)}">
						<label for="time" class="control-label col-md-3 text-right text-capitalize">time </label>
						<input type="text" class="form-control" size="8" ng-model="vm.edit_calories.time" name="time" bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" required />
						<span ng-if="form.time.$dirty && form.time.$error.required" class="help-block col-md-offset-3">Time is required</span>
						<span ng-if="form.time.$dirty && form.time.$invalid" class="help-block col-md-offset-3">Invalid type!</span>
					</div>
					<div class="row" ng-class="{ 'has-error': form.meal.$dirty && form.meal.$error.required }">
						<label for="meal" class="control-label col-md-3 text-right text-capitalize">meal </label>
						<input type="text" class="form-control" size="8" ng-model="vm.edit_calories.meal" name="meal" required />
						<span ng-show="form.meal.$dirty && form.meal.$error.required" class="help-block col-md-offset-3">Meal name is required</span>
					</div>
					<div class="row" ng-class="{ 'has-error': (form.calories.$dirty && form.calories.$error.required) || (form.calories.$dirty && form.calories.$invalid)}">
						<label for="calories" class="control-label col-md-3 text-right text-capitalize">calories </label>
						<input type="number" class="form-control" size="8" ng-model="vm.edit_calories.calories" name="calories" min="0" required />
						<span ng-if="form.calories.$dirty && form.calories.$error.required" class="help-block col-md-offset-3">Calories is required</span>
						<span ng-if="form.calories.$dirty && form.calories.$invalid" class="help-block col-md-offset-3">Invalid type!</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default text-uppercase" ng-click="$hide()">Cancel</button>
				<button type="button" ng-disabled="form.$invalid" class="btn btn-info" ng-click="onEditMeal(vm.edit_calories);$hide();">Update</button>
			</div>
		</div>
	</div>
</div>