<nav class="navbar navbar-default">
	<div class="container col-md-4">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/login">Logout</a>
		</div>
	</div>
	<div class="col-md-4" id="alerts-container"></div>
</nav>
<div class="container-fluid">
	<form class="name">
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label for="userName" class="text-capitalize text-right col-md-4 control-label">user name</label>
					<div class="col-md-8">
						<input disabled type="text" name="userName" value="{{vm.currentUser.username}}" class="form-control col-md-8">
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary text-capitalize" ng-click="showModal({cmd: 'create'});">add</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<table ng-table="vm.tableParams" class="table" show-filter="false">
							<colgroup>
								<col width="30%" />
								<col width="20%" />
								<col width="20%" />
								<col width="30%" />
							</colgroup>
							<tr ng-repeat="user in $data">
								<td title="'username'" >{{user.username}}</td>
								<td title="'setting'" >{{user.setting}}</td>
								<td title="'edit'">
									<button class="btn btn-primary text-capitalize" ng-click="showModal({cmd:'edit', user:user});">edit</button>
									<button class="btn btn-primary text-capitalize" ng-click="showModal({cmd:'delete', user:user});">delete</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>